MSSQL_SA_PASSWORD=
MSSQL_PID=Developer
SQLSERVER_DATABASE=PermissionSystemDb
SQLSERVER_CONNECTION_STRING=
SQLSERVER_PORT=1433

REDIS_PORT=6379

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=
RABBITMQ_DEFAULT_VHOST=/
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_ENABLED=false
RABBITMQ_ENABLE_CONSUMERS=false
RABBITMQ_ENABLE_OUTBOX_PUBLISHER=false
NOTIFICATION_DELIVERY_MODE=Direct

API_PORT=5000
FRONTEND_PORT=8080

OPENIDDICT_ACCESS_TOKEN_MINUTES=60
OPENIDDICT_REFRESH_TOKEN_DAYS=14

VITE_OAUTH_CLIENT_ID=permission-admin
VITE_OAUTH_CLIENT_SECRET=
SEED_ADMIN_PASSWORD=
SEED_OAUTH_CLIENT_SECRET=
SYSTEM_CONFIG_ENCRYPTION_KEY=
